* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header p {
    text-align: center;
    background-color: #ea899a;
    padding-top: 30px;
    padding-bottom: 30px;
    color: gray;
}
.immageheader{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 70px;
}
body main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

footer {
    background-color: #ea899a;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .article1 a {
    color: gray;
}
footer .article2 p {
    color: gray;
}
.div_article2_footer{
    color: #00a3ad ;
}